<%- include "/header.ejs" %> 


   <!-- Navbar-->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
  
          <% if (title == "Home"){ %>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li> 
            <% } else { %>
          <li class="nav-item"> <a class="nav-link" href="/home"></i> Home</a>
            <% } %>
          </li>

          <% if (title == "About"){ %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About Me</a>
            </li> 
              <% } else { %>
            <li class="nav-item"> <a class="nav-link" href="/about"></i>About Me</a>
              <% } %>
            </li>

          <% if (title == "Projects"){ %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
            </li> 
              <% } else { %>
            <li class="nav-item"> <a class="nav-link" href="/projects"></i>Projects</a>
              <% } %>
            </li>
  
          <% if (title == "Services"){ %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/services">Services</a>
            </li> 
              <% } else { %>
            <li class="nav-item"> <a class="nav-link" href="/services"></i>Services</a>
              <% } %>
            </li>
  
          <% if (title == "Contact"){ %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li> 
              <% } else { %>
            <li class="nav-item"> <a class="nav-link" href="/contact"></i>Contact</a>
              <% } %>
            </li>
        </ul>
      </div>
    </div>
  </nav>

    <!--Main Content-->
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the <%= title %> club!</h1>
        </div>
    </main>
    
    <!--Bottom Nav-->
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <div class="container-fluid">
              <h6 class="dispaly-6 navbar-text ">&copy;Copyright 2022 All Rights reserved. @JudyFeng</h6>
            </div>
          </nav>
    </footer>  
    <!-- JavaScript Goes here -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./Scripts/app.js"></script>
</body>
</html>